{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block head_title %}{{album_detail.album_name}}{% endblock %}

{% block body_class %}album{% endblock %}

{% block banner_title %}{{album_detail.album_name}}{% endblock %}

{% block body %}  
    <div class="albumBtn">
        <a class="meechBtn " href="/photography">Back To Albums</a>
    </div>
    
    <ul class="grid effect-2" id="grid">
        {% for photo in photo_list %} 
            <li>
                <img src="{% cloudinary_url photo.photo %}" />
                <div class="grid-info">
                    <!-- <p class="grid-photo-title">{ # {{photo.photo_location}} - {{photo.photo_country}} #}</p> -->
                </div>
            </li>
        {% endfor %} 
    </ul>
{% endblock %} 

{% block extra_script %}
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        });
    </script>
{% endblock %} 



