{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
z

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body_class %}about{% endblock %}

{% block banner_title %}About{% endblock %}

{% block body %} 
    <div class="section-white-bg">
        <div class="row">
            <div class="col-sm-12">
                
                <!-- Years old -->
                <div class="about-grid-item">
                    <div class="about-grid-item-half">
                        <span class="about-grid-item-arrow"></span>

                        <div class="about-grid-item-block about-grid-item-block-post">
                            <h2 class="about-grid-post-title">25 Years Old</h2>
                        </div>
                    </div>

                    <div class="about-grid-item-half about-grid-item-post-image"
                    style=
                    "background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438806985/11183437_10153655101645101_8771020515928447236_n_fdslwe.jpg');">
                    </div>
                </div>

                <div class="about-grid-item">
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813395/415052_10151344032305101_1396009844_o_kkar4e.jpg');">
                    </div> 

                    
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438404603/IMG_2725_ashgmt.jpg');">
                    </div>
                </div>
                
                <!-- Olympic -->
                <div class="about-grid-item pull-right swap">
                    <div class="about-grid-item-half">
                        <span class="about-grid-item-arrow"></span>

                        <div class="about-grid-item-block about-grid-item-block-post">
                            <h2 class="about-grid-post-title">Olympic Aspirations</h2>
                        </div>
                    </div>

                    <div class="about-grid-item-half about-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813394/25085_384821240100_4070240_n_weib0e.jpg');">
                    </div>
                </div>

                <div class="about-grid-item">
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438879340/11693880_10101536668825294_168765166031487565_n_ydqwwd.jpg');">
                    </div> 

                    
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438879466/477287_10151075757954072_1251411632_o_mbxpsa.jpg');">
                    </div>
                </div>

                <!-- Dancer -->
                <div class="about-grid-item">
                    <div class="about-grid-item-half">
                        <span class="about-grid-item-arrow"></span>

                        <div class="about-grid-item-block about-grid-item-block-post">
                            <h2 class="about-grid-post-title">Dancer Enthusiast</h2>
                        </div>
                    </div>

                    <div class="about-grid-item-half about-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813765/11295705_10153596958740101_2435505152554157340_n_nibttn.jpg');">
                    </div>
                </div>

     
                <div class="about-grid-item">
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438880202/10451731_10153191357070101_1624536490345078145_n_jx8zhr.jpg');">
                    </div> 

                    
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438880202/292050_10150352927120101_267691700_n_pkyx6v.jpg');">
                    </div>
                </div>

                <!-- USC -->
                <div class="about-grid-item pull-right swap">
                    <div class="about-grid-item-half">
                        <span class="about-grid-item-arrow"></span>

                        <div class="about-grid-item-block about-grid-item-block-post">
                            <h2 class="about-grid-post-title">USC Alumnus.</h2>
                        </div>
                    </div>

                    <div class="about-grid-item-half about-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438873263/474829_10151066019850101_352592634_o_uzepju.jpg');">
                    </div>
                </div>

                <div class="about-grid-item">
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438880810/308584_10150387835715101_1780275522_n_ndz8kf.jpg');">
                    </div> 

                    
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438881550/303278_2456902947156_498724077_n_tdzibs.jpg');">
                    </div>
                </div>

                

                <div class="about-grid-item">
                    <div class="about-grid-item-half">
                        <span class="about-grid-item-arrow"></span>

                        <div class="about-grid-item-block about-grid-item-block-post">
                            <h2 class="about-grid-post-title">Always Silly</h2>
                        </div>
                    </div>

                    <div class="about-grid-item-half about-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438873145/390614_10150384337300101_585860049_n_nzbeyd.jpg');">
                    </div>
                </div>

                <!-- Usc Image block -->
                <div class="about-grid-item">
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438880810/269868_10150257909490101_1802930_n_oz3nsx.jpg');">
                    </div> 

                    
                    <div class="about-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438880810/10256718_10152580831625101_7341616477273533575_o_kht1jf.jpg');">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}  

