{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
z

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body_class %}about{% endblock %}

{% block banner_title %}About{% endblock %}

{% block body %} 
    <div class="section-white-bg">
        <div class="row">
            <div class="col-sm-12">
                
                <!-- First Block -->
                <div class="home-grid-item">
                    <div class="home-grid-item-half">
                        <span class="home-grid-item-arrow"></span>

                        <div class="home-grid-item-block home-grid-item-block-post">
                            <h2 class="home-grid-post-title">25 Years Old</h2>
                        </div>
                    </div>

                    <div class="home-grid-item-half home-grid-item-post-image"
                    style=
                    "background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438806985/11183437_10153655101645101_8771020515928447236_n_fdslwe.jpg');">
                    </div>
                </div>
                
                <!-- Second Block -->
                <div class="home-grid-item pull-right swap">
                    <div class="home-grid-item-half">
                        <span class="home-grid-item-arrow"></span>

                        <div class="home-grid-item-block home-grid-item-block-post">
                            <h2 class="home-grid-post-title">Olympic Aspirations</h2>
                        </div>
                    </div>

                    <div class="home-grid-item-half home-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813394/25085_384821240100_4070240_n_weib0e.jpg');">
                    </div>
                </div>

                <!-- Image Block -->
                <!-- <div class="home-grid-item">
                    <div class="home-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813395/308301_10150360422735101_67342114_n_w0ycvq.jpg');">
                    </div> 

                    
                    <div class="home-grid-item-half" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813394/305312_10150342014275101_2139506343_n_ek97wk.jpg');">
                    </div>
                </div> -->

                <div class="home-grid-item">
                    <div class="home-grid-item-half">
                        <span class="home-grid-item-arrow"></span>

                        <div class="home-grid-item-block home-grid-item-block-post">
                            <h2 class="home-grid-post-title">Dancer Enthusiast</h2>
                        </div>
                    </div>

                    <div class="home-grid-item-half home-grid-item-post-image" style="background-image: url('http://res.cloudinary.com/dgnor2lpz/image/upload/v1438813765/11295705_10153596958740101_2435505152554157340_n_nibttn.jpg');">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}  

