{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block head_title %}{% trans "Albums" %}{% endblock %}

{% block body_class %}photography{% endblock %}

{% block banner_title %}Albums{% endblock %}

{% block body %}  
    {% for album in album_list %}  
        <div class="photo-grid">
            <div class="content">
                <div class="photo-table">
                    <div class="table-cell" style="height:100%; width:100%;">
                        <div class="photo-tint" style="background: url('{% cloudinary_url album.cover_image %}') center center no-repeat; background-size: cover;">  
                        </div>
                        
                        <label>{{album.album_name}}</label>
                        <a class="box-button" href="{{album.get_absolute_url}}">View</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %} 





