{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block head_title %}{% trans "Photography" %}{% endblock %}

{% block body_class %}photography{% endblock %}

{% block banner_title %}Photography{% endblock %}

{% block body %}  
    <ul class="grid effect-2" id="grid">
        {% for photo in photos %} 
            <li>
                <img src="{% cloudinary_url photo.photos_general %}" />
            </li>
        {% endfor %} 
    </ul>
{% endblock %} 

{% block extra_script %}
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        });
    </script>
{% endblock %} 



