{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block head_title %}{% trans "Track & Field" %}{% endblock %}

{% block body_class %}track{% endblock %}

{% block banner_title %}Track & Field{% endblock %}

{% block body %}  
    <ul class="gridAwards">
        <li>USATF - 2013 Athlete Of The Year for Long Island Track and Field</li>
        <li>USATF - Junior National Track and Field Championship Qualifier, in 100m and 200m dashes</li>
        <li>USATF - 2008 Junior Olympic Northeast Regional Champion, in 100m and 200m dashes</li>
        <li>NCAA - 2010 Division I Track and Field Championship Qualifier in the 4x100m</li>
        <li>NCAA - Named to All West 2010 Division I Track and Field Regional Team</li>
        <li>NCAA - All Conference, in the 4x100m Pac-10 Track and Field Championship, (2010 & 2011) </li>
        <li>USC - Named Fastest Returning Sprinter in the 100m dash in 2011 </li>
    </ul> 

    <ul class="grid effect-2" id="grid">
        {% for photo in track_photos %} 
            <li>
                <img src="{% cloudinary_url photo.track_photos %}" />
            </li>
        {% endfor %} 
    </ul>
{% endblock %} 

{% block extra_script %}
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        });
    </script>
{% endblock %} 



