{% load i18n %}
{% load staticfiles %}
<div id="preFooter">
    <div class="pre-footer-inner">
        <div class="sqs-layout sqs-grid-12 columns-12">
	        <div class="row sqs-row">
	        	<div class="col sqs-col-12 span-12">
	        		<div class="sqs-block socialaccountlinks-block sqs-block-socialaccountlinks">
	        			<div class="sqs-block-content">
	        				<nav class="sqs-svg-icon--list social-icon-alignment-center social-icons-color-white social-icons-size-large social-icons-shape-circle social-icons-style-knockout">
	        					<a href="http://www.linkedin.com/in/amechiegbe" target="_blank" class="linkedin" style="">
	        						
	        					</a>
	        					<a href="https://twitter.com/FashionIdealist" target="_blank" class="twitter" style="">
	        						
	        					</a>
	        					<a href="mailto:amechiegbe@gmail.com" target="_blank" class="email" style="">
	        						
	        					</a>
	        					<a href="http://instagram.com/fashion_idealist" target="_blank" class="instagram" style="">
	        						
	        					</a>
	        				</nav>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        </div>
    </div>
</div>

<footer id="footer" role="contentinfo">
    <div class="footer-inner">
        <div class="sqs-layout sqs-grid-12 columns-12">
        	<div class="row sqs-row">
        		<div class="col sqs-col-12 span-12">
        			<div class="sqs-block html-block sqs-block-html">
        				<div class="sqs-block-content">
        					<h2 class="align-center">Made With Love In NYC</h2>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
 </footer>