{% load i18n %}
{% load staticfiles %}
<div id="scrolling">
    <a id="scrollTop" href="javascript:void(0);">Back To Top</a>
</div>
<div id="preFooter">
    <div class="pre-footer-inner">
        <div class="sqs-layout">
	        <div class="row sqs-row">
	        	<div class="col sqs-col-12">
	        		<div class="sqs-block">
	        			<div class="sqs-block-content">
	        				<nav class="meechIconRow">
	        					<a href="https://www.facebook.com/amechi.egbe" target="_blank">
	        						<span class="icon-social-facebook"></span>
	        					</a>
	        					<a href="https://twitter.com/The_Meech_" target="_blank">
	        						<span class="icon-social-twitter"></span>
	        					</a>
	        					<a href="https://instagram.com/the_meech_/" target="_blank">
	        						<span class="icon-instagram"></span>
	        					</a>
	        					<a href="http://www.linkedin.com/in/amechiegbe" target="_blank">
	        						<span class="icon-social-linkedin"></span>
	        					</a>
	        					<a href="https://github.com/Amechi101" target="_blank">
	        						<span class="icon-social-github"></span>
	        					</a>
	        					<a href="mailto:amechiegbe@gmail.com" target="_blank">
	        						<span class="icon-mail"></span>
	        					</a>
	        				</nav>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="footer-inner">
        <div class="sqs-layout">
        	<div class="row sqs-row">
        		<div class="col sqs-col-12">
        			<div class="sqs-block">
        				<div class="sqs-block-content">
        					<h2 class="align-center">Made With <span class="icon-heart"></span> In NYC</h2>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
 </footer>