{% load staticfiles %} 
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Thank You."></meta>
        <meta name="author" content="Amechi Egbe"></meta>
        <meta name="keywords" content="Amechi Egbe">
        
        <title>{% block head_title_base %}Amechi Egbe | {% block head_title %}{% endblock %}{% endblock %}</title>

        <link href="http://www.amechiegbe.com/" rel="canonical"></link>
        
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        {% endblock %}

        {% block style_base %}
            {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block top_script_base %}
            {% block top_script_extra %} {% endblock %}
        {% endblock %}
        
        {% block html5shim %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}"> 
        <header class="header pos-r">
            <div class="header-wrapper">
                <div class="left">
                    <h2>Amechi M. Egbe</h2>
                </div>
                <div class="right">
                    {% block right_header_block %}
                        <!-- <a href="#">Contact</a> -->
                    {% endblock %}
                </div>
            </div>
        </header>
        
         
        {% block body_base %}
            <main class="pos-r full-size" role="main">
                 {% block body %}{% endblock %}
            </main>
        {% endblock %}


        <!-- JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        {% block script_base %}
            {% block extra_script %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
