{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Always and Forever a Student Athlete." %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}    
    <!-- Content -->
    <section class="home-text">
        <div class="home-text-inner">
            <!-- Text --> 
            <p>
                <span>Alumnus with a B.A. in Neuroscience &amp; Former NCAA Division I Track &amp; Field Athlete at the <a target="_blank" href="http://www.usc.edu/">University of Southern California</a></span>

                <span>Native New Yorker with <a target="_blank" href="https://en.wikipedia.org/wiki/LeFrak_City">LeFrak City, Queens</a> roots</span>

                <span>First Generation Nigerian-American</span>

                <span>Former web developer at <a target="_blank" href="http://www.complex.com/">Complex Magazine</a> &amp; <a target="_blank" href="http://ymee.us/">YMEE</a></span>

                <span>Founder of <a target="_blank" href="https://unlabel.us">Unlabel</a></span>

                <span>Track &amp; Field Athlete &amp; Aspiring <a target="_blank" href="https://en.wikipedia.org/wiki/2020_Summer_Olympics">Olympic</a> Sprinter</span>

                <span>Lover of legos</span>

                <span>Freestyle hip-hop dancer &amp; <a target="_blank" href="http://the-meech-101.tumblr.com/">Photographer</a> hobbyist.</span>
            </p>
            <!-- Links -->
            <ul>
                <li><a target="_blank" href="https://www.instagram.com/the_meech_">Instagram</a></li> 
                <li><a target="_blank" href="https://github.com/Amechi101">Code</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/amechiegbe">Linkedin</a></li>
                <li><a target="_blank" href="mailto:amechiegbe@gmail.com">Let's chat</a></li>
            </ul>
            <!-- Footer -->
            <footer>
                <h2>Made With <span class="icon-heart"></span> In NYC</h2>
            </footer>  
        </div> 
    </section> 
{% endblock %}  

