{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner_title %}
    <span>Engineer.</span> 
    <span>Track Athlete.</span> 
    <span>Creative Junkie.</span>
{% endblock %}

{% block body %}    
    <div class="row sqs-row">
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block">
                <div class="sqs-block-content">
                    <a class="home-link" href="/about">
                        <div class="home-about"> 
                            <p>About<span class="icon-like"></span></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="sqs-block">
                <div class="sqs-block-content">
                    <a class="home-link" href="/photography">
                        <div class="home-about"> 
                            <p>photography<span class="icon-camera"></span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col sqs-col-6 span-6">
            <div class="sqs-block">
                <div class="sqs-block-content">
                    <a class="home-link" href="/projects">
                        <div class="home-about"> 
                            <p>Projects<span class="icon-lab"></span></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="sqs-block">
                <div class="sqs-block-content">
                    <a class="home-link" href="/track">
                        <div class="home-about"> 
                            <p>Track & Field<span class="icon-stopwatch"></span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
               
{% endblock %}  

