{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
    
{% block style_base %}
    
    <!-- Stylesheets for Unlabel -->
    <link rel="stylesheet" href="{% static "css/core/base.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/core/site.css" %}" />
    
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block top_script_base %}
    <script src="{% static "js/core/vendor/modernizr.custom.min.js" %}"></script>
    {% block top_script_extra %} {% endblock %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block script_base %}
    <!--Core-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>  
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>  
    <script src="{% static "js/lib/underscore-min.js" %}"></script> 
    <script src="{% static "js/core/site.js" %}"></script>  

    {% block extra_script %}
	    <script>
		    MeechInitilazer.menuApi.init();
		    MeechInitilazer.scrollTopApi.init();
	    </script>

    {% endblock %}

    <!-- Adobe Typeface -->
    <script src="//use.typekit.net/cbg5xhv.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Google Analytics -->

{% endblock %}

