{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
    
{% block style_base %}
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="{% static "css/vendor/base.min.css" %}" />
    
    <!-- Amechi's Stylesheets -->
    <link rel="stylesheet" href="{% static "css/site.css" %}" />

    <!-- Icon links -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/icon_logo/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/icon_logo/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/icon_logo/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/icon_logo/favicon-96x96.png" %}">
    
    <!-- non-retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/icon_logo/apple-icon-57x57.png.png" %}">
    
    <!-- non-retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "images/icon_logo/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon_logo/apple-icon-72x72.png" %}">
    
    <!-- non-retina iPad iOS 7 -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "images/icon_logo/apple-icon-76x76.png" %}">
    
    <!-- retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon_logo/apple-icon-114x114.png" %}">
    
    <!-- retina iPhone iOS 7 -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/icon_logo/apple-icon-120x120.png" %}">
    
    <!-- retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/icon_logo/apple-icon-144x144.png" %}">
    
    <!-- retina iPad iOS 7 -->
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/icon_logo/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/icon_logo/apple-icon-180x180.png" %}">
    
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block top_script_base %}
    {% block top_script_extra %} {% endblock %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block script_base %}
    <!-- External Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.js"></script>
    
    <!-- Amechi's Scripts -->
    <script src="{% static "js/transitionScroll.js" %}"></script>
    <script src="{% static "js/site.js" %}"></script>
    
    <!-- Intializers -->
    <script>
        MainModule.utils.googleEvents();
        
        ;(function($) {
            $("#meech-content, #meech-links").transitionScroll({
                selector:'h2'
            }); 

            $("#meech-content > h2, #meech-links > h2").fitText(1.0,  { minFontSize: '50px', maxFontSize: '75px' });
        })(jQuery);
    </script>

    <!-- Adobe Typeface -->
    <script src="//use.typekit.net/cbg5xhv.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61999157-2', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}

